# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Landry Njohou\Desktop\Projet JAVAFX\Compte_Presence_Etudiant\Compte_Presence_Etudiant\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
